<div class="container-fluid pt-5 mb-3">
    <div class="container">
        <div class="section-title">
            <h4 class="m-0 text-uppercase font-weight-bold">Последние новости</h4>
        </div>
        <div class="owl-carousel news-carousel carousel-item-4 position-relative">
            {% for new in news %}
            <div class="position-relative overflow-hidden" style="height: 300px;">
                <img class="img-fluid h-100" src="{{ new.photo.url }}" style="object-fit: cover;">
                <div class="overlay">
                    <div class="mb-2">
                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                           href="{{ new.category.get_absolute_url }}">{{ new.category }}</a>
                        <a class="text-white" href=""><small>{{ new.created_at }}</small></a>
                    </div>
                    <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="{{ new.get_absolute_url }}">{{ new.title|truncatewords_html:5|safe }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>