{% load cat_menu %}
<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
                {% show_cat_menu %}
<!--                <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>-->
<!--                <a href="category.html" class="nav-item nav-link">Category</a>-->
<!--                <a href="single.html" class="nav-item nav-link">Single News</a>-->
<!--                <a href="contact.html" class="nav-item nav-link">Contact</a>-->
            </div>
            <div class="input-group ml-auto d-none d-lg-flex" style="width: 100%; max-width: 300px;">
                <form action="{% url 'search' %}" method="get">
                {% csrf_token %}
                <div class="input-group-append">
                    <input type="text" class="form-control border-0" name="search" placeholder="Keyword">
                    <button class="input-group-text bg-primary text-dark border-0 px-3"><i
                            class="fa fa-search"></i></button>
                </div>
                </form>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->